<ion-menu id="main-menu" side="left" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <span *ngFor="let category of mainMenu">
        <ion-list-header>
          {{category.header}}
        </ion-list-header>
        <button menuClose ion-item *ngFor="let item of category.content" (click)="item.method ? item.method(item.content) : category.method ? category.method(item.content) : notDefined(item.content)">
          {{item.title}}
          <ion-note style="float: right;">
            {{item.note}}
          </ion-note>
        </button>
      </span>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="group-menu" side="right" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Group Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <span *ngFor="let category of groupMenu">
        <ion-list-header>
          {{category.header}}
        </ion-list-header>
        <button menuClose ion-item *ngFor="let item of category.content" (click)="item.method ? item.method(item.content) : category.method ? category.method(item.content) : notDefined(item.content)">
          {{item.title}}
          <ion-note style="float: right;">
            {{item.note}}
          </ion-note>
        </button>
      </span>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>